<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odontopediatria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/Inicio" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{{url_for('static', filename='Img/Logo.png')}}" width="90px" height="70px" alt="">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/Inicio" class="nav-link px-2 text-secondary">Inicio</a></li>
                    <li><a href="/Agendar_Cita" class="nav-link px-2 text-white">Agendar Cita</a></li>
                    <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Ortodoncia">Ortodoncia</a></li>
                            <li><a class="dropdown-item" href="/Odontopediatria">Odontopediatria</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/Contacto">Mas informacion aqui</a></li>
                        </ul>
                    </li>
                    <li><a href="/Sobre_Nosotros" class="nav-link px-2 text-white">Sobre Nosotros</a></li>
                    <li><a href="/Contacto" class="nav-link px-2 text-white">Contactos</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-white bg-dark"
                        placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <a href="/"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                    <a href="/Registrarse"><button type="button" class="btn btn-warning">Registrate</button></a>
                </div>
            </div>
        </div>
    </header>
    <!--Contenido-->
    <div class="inner_banner">
        <div class="overlay">

            <div class="bannerpp2 text text-center">
                <h1 style="background:black; color:white; font-weight:bold; padding:15px; border:3px solid white; margin-top:40px; margin-bottom:40px; text-align:center; font-size:22px; border-radius:10px;">
                    Odontopediatria</h1>
            </div>
        </div>
    </div>
    <div class="blog_page single_blog_page">
        <center>
            <p><a class="aligncenter"
                    href="http://www.ortodonciamayorga.com/wp-content/uploads/2019/09/slidegral.jpg"><img
                        class="size-full wp-image-1454 aligncenter"
                        src="http://www.ortodonciamayorga.com/wp-content/uploads/2019/09/slidegral.jpg" alt=""
                        width="1000" height="367"
                        srcset="https://www.ortodonciamayorga.com/wp-content/uploads/2019/09/slidegral.jpg 1000w, https://www.ortodonciamayorga.com/wp-content/uploads/2019/09/slidegral-300x110.jpg 300w, https://www.ortodonciamayorga.com/wp-content/uploads/2019/09/slidegral-768x282.jpg 768w"
                        sizes="(max-width: 1000px) 100vw, 1000px" /></a></p>
        </center>
        <div class="container">
            <p>En nuestra Clinica Escalón y en Centro Comercial las Palmas, buscamos que el paciente
                encuentre todos los servicios odontológicos en un solo lugar, dentro de un ambiente
                cómodo y moderno, con el respaldo y la atención personalizada de los mejores Doctores y
                Especialistas.</p>
            <p><strong>Nuestros servicios incluyen:</strong></p>
            <ul>
                <li>Extracciones dentales y cirugía por extracción de cordales.</li>
                <li>Limpiezas dentales, prevención de caries, rellenos.</li>
                <li>Sustitución de piezas dentarias mediante prótesis removible y fija sobre otros
                    dientes o sobre implantes.</li>
                <li>Tratamiento odontológico general en niños.</li>
                <li>Tratamiento del dolor orofacial y trastornos funcionales masticatorios por estrés.
                </li>
                <li>Tratamientos con laser de baja Intensidad para lesiones de la mucosa oral.</li>
            </ul>
        </div>
    </div> <!-- End of .share_option -->


    <!--Footers o Pie de pagina-->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022 Alex Company, Inc</p>

            <a href="/Inicio"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="{{url_for('static', filename='Img/Logo.png')}}" width="70px" alt="">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/Inicio" class="nav-link px-2 text-muted">Inicio</a>
                </li>
                <li class="nav-item"><a href="/Agendar_Cita" class="nav-link px-2 text-muted">Agendar Cita</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Servicios</a></li>
                <li class="nav-item"><a href="/Sobre_Nosotros" class="nav-link px-2 text-muted">Sobre Nosotros</a>
                </li>
                <li class="nav-item"><a href="/Contacto" class="nav-link px-2 text-muted">Contactos</a></li>
            </ul>
        </footer>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>