<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ortodoncia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/Inicio" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{{url_for('static', filename='Img/Logo.png')}}" width="90px" height="70px" alt="">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/Inicio" class="nav-link px-2 text-secondary">Inicio</a></li>
                    <li><a href="/Agendar_Cita" class="nav-link px-2 text-white">Agendar Cita</a></li>
                    <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Ortodoncia">Ortodoncia</a></li>
                            <li><a class="dropdown-item" href="/Odontopediatria">Odontopediatria</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/Contacto">Mas informacion aqui</a></li>
                        </ul>
                    </li>
                    <li><a href="/Sobre_Nosotros" class="nav-link px-2 text-white">Sobre Nosotros</a></li>
                    <li><a href="/Contacto" class="nav-link px-2 text-white">Contactos</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-white bg-dark"
                        placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>

    <div class="inner_banner">
        <div class="overlay">
            <div class="bannerpp2 text-center">
                <h1 style="background:black; color:white; font-weight:bold; padding:15px; border:3px solid white; margin-top:40px; margin-bottom:40px; text-align:center; font-size:22px; border-radius:10px;">
                    Ortodoncia</h1>
            </div>

        </div>
    </div>
    <div class="blog_single_post_wrapper">
        <center><p><a class=" aligncenter"
                href="http://www.ortodonciamayorga.com/wp-content/uploads/2019/09/slideadulto.jpg"><img
                    class="aligncenter size-full wp-image-1621"
                    src="http://www.ortodonciamayorga.com/wp-content/uploads/2019/10/adulton.jpg" alt="" width="1000"
                    height="367"
                    srcset="https://www.ortodonciamayorga.com/wp-content/uploads/2019/10/adulton.jpg 1000w, https://www.ortodonciamayorga.com/wp-content/uploads/2019/10/adulton-300x110.jpg 300w, https://www.ortodonciamayorga.com/wp-content/uploads/2019/10/adulton-768x282.jpg 768w"
                    sizes="(max-width: 1000px) 100vw, 1000px" /></a></p></center>
        <h2 style="text-align: center;"><em><strong><span class="textmy">¿Cuál es el límite de edad para un tratamiento
                        de Ortodoncia?</span></strong></em></h2>
        <div class="container">
                <p>No hay un límite de edad para someterse a un tratamiento de Ortodoncia. Muchas personas adultas pasan su vida
                    apegadas a sus dientes en mal posición e insatisfechas con su sonrisa, con baja autoestima e inseguras al
                    hablar, pensando que es tarde para hacer algo al respecto.</p>
                <p>Es importante que sepas que los materiales y tratamientos de hoy en día son modernos y rápidos y además
                    existen otras alternativas además de los brackets metálicos, opciones más discretas como los brackets
                    cerámicos, linguales y sistemas casi invisibles como Invisalign.</p>
                <p>Lo primero es que te animes y hagas tu cita!</p>
                <p>Estudiaremos tu caso y realizaremos un diagnostico completo de tu mordida y estado periodontal (encías y
                    hueso de soporte de los dientes), entre otros aspectos. Tomaremos registros de tu mordida, fotos, haremos
                    modelos de estudio y radiografías, si tus encías y estructura ósea es sana, podemos lograr la sonrisa que
                    deseas</p>
                <p>Recuerda que más allá de los beneficios estéticos, arreglar tu dentadura te puede ayudar a prevenir problemas
                    de encías, perdida de hueso, desgastes en los dientes, caries, y ayuda a reducir la apnea de sueño y dolores
                    de la articulación de la mandíbula ATM.</p>
        </div>



        <!--Footers o Pie de pagina-->
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">&copy; 2022 Alex Company, Inc</p>

                <a href="/Inicio"
                    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="{{url_for('static', filename='Img/Logo.png')}}" width="70px" alt="">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="/Inicio" class="nav-link px-2 text-muted">Inicio</a></li>
                    <li class="nav-item"><a href="/Agendar_Cita" class="nav-link px-2 text-muted">Agendar Cita</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Servicios</a></li>
                    <li class="nav-item"><a href="/Sobre_Nosotros" class="nav-link px-2 text-muted">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item"><a href="/Contacto" class="nav-link px-2 text-muted">Contactos</a></li>
                </ul>
            </footer>
        </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>