<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/Inicio" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{{url_for('static', filename='Img/Logo.png')}}" width="90px" height="70px" alt="">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/Inicio" class="nav-link px-2 text-secondary">Inicio</a></li>
                    <li><a href="/Agendar_Cita" class="nav-link px-2 text-white">Agendar Cita</a></li>
                    <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Ortodoncia">Ortodoncia</a></li>
                            <li><a class="dropdown-item" href="/Odontopediatria">Odontopediatria</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/Contacto">Mas informacion aqui</a></li>
                        </ul>
                    </li>
                    <li><a href="/Sobre_Nosotros" class="nav-link px-2 text-white">Sobre Nosotros</a></li>
                    <li><a href="/Contacto" class="nav-link px-2 text-white">Contactos</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-white bg-dark"
                        placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <a href="/"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                    <a href="/Registrarse"><button type="button" class="btn btn-warning">Registrate</button></a>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{url_for('static', filename='Img/lugarT.jpg')}}" class="d-block w-100" alt="..."
                        width="250px" height="510px">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='Img/Atencion.jpg')}}" class="d-block w-100" alt="..."
                        width="250px" height="510px">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='Img/Tecg.jpeg')}}" class="d-block w-100" alt="..."
                        width="250px" height="510px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <p
        style="background:black; color:white; font-weight:bold; padding:15px; border:3px solid white; margin-top:40px; margin-bottom:40px; text-align:center; font-size:22px; border-radius:10px;">
        Centro Odontologico Santo Domingo</p>
    <div class="container">
        <div class="row justify-content-center">
            <p>Está creado para nuestros grandes amigos, durante estos años que han pasado nos han enseñado
                que cuidar todos los detalles hacen que sea la forma en que mejor podamos cuidarte. Estética dental,
                cuidado, prevención con lo mejor de la tecnología disponible en el mundo es el trabajo que hacemos para
                ti.
                El Centro Odontologico Santo Domingo ofrece a todos los usuarios servicios como Ortodoncia,
                Odontopediatria, Blanqueamiento dental, entre otros muchos servicios mas.
                El consultorio odontológico esta ubicado en Av.Quito; abrió sus puertas en Diciembre de 2018, 
                para ofrecer servicios odontológicos especializados en todas la áreas de Odontología, prestando 
                atención de primera; con materiales, equipos y técnicas de vanguardia; brindada por profesionales 
                certificados para cada necesidad y con amplia experiencia en su campo; ofreciendo precios competitivos 
                y resultados de calidad. Brindando al paciente un trato familiar y de respeto.
            </p>
        </div>
    </div>
    <p
        style="background:black; color:white; font-weight:bold; padding:15px; border:3px solid white; 
        margin-top:40px; margin-bottom:40px; text-align:center; font-size:22px; border-radius:10px;"></p>
    <!--Tarjetas-->
    <!--Clase contener-->
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding: 20px">
                <!--Clase de la tarjeta modificada en el centrado del texto y el background de la tarjeta-->
                <div class="card text-center text-bg-dark mb-3" style="width: 18rem"> <img
                        src="https://www.odontocenter.ec/wp-content/uploads/2020/06/ORTODONCIA-e1591288807736.jpg"
                        class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Conoce mas sobre el servicio de Ortodoncia</h5>
                        <p class="card-text"> Es una especialidad odontológica que nos permite el diagnóstico, prevención y 
                            tratamiento correctivo de las piezas dentales que por distintos motivos no están en su posición 
                            normal. </p>
                        <!--Etiqueta de enlace trabajando con un boton--> <a
                            href="/Ortodoncia"
                            class="btn btn-light">ORTODONCIA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 20px">
                <div class="card text-center text-bg-dark mb-3" style="width: 18rem"> <img
                        src="https://www.odontocenter.ec/wp-content/uploads/2021/10/WhatsApp-Image-2021-10-28-at-18.36.37.jpeg"
                        class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Conozca mas sobre la Odontopediatria</h5>
                        <p class="card-text"> Ahora los más pequeños del hogar pueden disfrutar de una atención 
                            personalizada con especialistas dedicados a su salud bucal; por eso hemos creado ODONTOKIDS.

                            Ven y conoce las sorpresas que tenemos para tus hijos. </p> <a
                            href="/Odontopediatria"
                            class="btn btn-light">ODONTOPEDIATRÍA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 20px">
                <div class="card text-center text-bg-dark" style="width: 18rem"> <img
                        src="https://www.odontocenter.ec/wp-content/uploads/2020/06/BLANQUEAMIENTO-DENTAL-e1591288989712.png"
                        class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Conoce mas sobre nuestro servicio de Blanqueamiento dental </h5>
                        <p class="card-text"> Todos nuestros procedimientos son de la técnica dental más avanzada disponible, 
                            por lo que te recomendamos Blanqueamiento mediante Luz Fría, un método altamente efectivo y no 
                            agresivo para tus dientes.</p> <a
                            href="#"
                            class="btn btn-light">BLANQUEAMIENTO DENTAL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footers o Pie de pagina-->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2022 Alex Company, Inc</p>
      
          <a href="/Inicio" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{{url_for('static', filename='Img/Logo.png')}}" width="70px" alt="">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/Inicio" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="/Agendar_Cita" class="nav-link px-2 text-muted">Agendar Cita</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Servicios</a></li>
            <li class="nav-item"><a href="/Sobre_Nosotros" class="nav-link px-2 text-muted">Sobre Nosotros</a></li>
            <li class="nav-item"><a href="/Contacto" class="nav-link px-2 text-muted">Contactos</a></li>
          </ul>
        </footer>
      </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>